<section class="section section-details grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12 m6">
                <span class="card-title">My Posts</span>
              </div>
              <% @posts.each do |post| %>
              <div class="row">
                <div class="col s12 center" id="<%= post.id %>">
                  <img src="<%= post.user.pics %>" alt="" class="responsive-img circle" style="width: 40px;margin-left:10px;">
                  <h4><%= post.title.capitalize %></h4>
                  <p><%= post.content %></p> 
                  <a href="/my_posts"> 
                  <form class="btn red del-btn" id="<%= post.id %>" action="/delete_post" method="post">
                    <input type="submit" value="Delete Post">
                  </form>
                  </a>
                </div>
              </div>
              <% end %>
            </div>
          </div class="row">
            <div class="card-action">
            <a href="/new_post"> 
            <button action="get" class="btn green darken-3">Add New</button>
            </a>
          </div>            
        </div>
      </div>
    </div>
  </div>
</section>



 
 
