<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <span class="card-title">Profile</span>
      </div>
      <div class="card-content">
        <%= @specific_user.pics %>
      </div>
      <div>
        <%= @specific_user.first_name %>
      </div>
      <div>
        <%= @specific_user.last_name %>
      </div>
      <div>
        <%= @specific_user.created_at.strftime("%d/%m/%Y") %>
      </div>
      <% if @specific_user == current_user then %>
      <form action="/users/delete/<%= user.id %>" method="post">
        <input class="btn red" type="submit" name="submit-delete-user" value="Delete account">
      </form>
    <% end %>
    </div>
  </div>
</div>