
 <!-- Section: Users -->
  <section class="section section-users grey lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Users</span>
              <table class="striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registered</th>
                    <th></th>
                  </tr>
                </thead>
                <% users.each do |user| %>
                <tbody>
                  <tr>
                    <td width="70">
                      <img src="#" alt="" class="responsive-img circle" style="width: 40px;margin-left:10px;">
                    </td>
                    <td>
                    <a href="/profile <%= user.id %>"> <%= user.first_name %>
                    </a>
                    </td>
                    <td>
                    <a href="/profile <%= user.id %>"> <%= user.last_name %>
                    </a>
                    </td>
                    <td>
                    <a href="/profile <%= user.id %>"><%= user.email %>
                    </a>
                    </td>
                    <td><%= user.created_at.strftime("%d/%m/%Y") %>
                    </td>
                  </tr>
                </tbody>
                <% end %>
              </table>
            </div>
            <div class="card-action">
              <ul class="pagination">
                <li class="disabled">
                  <a href="#!" class="blue-text">
                    <i class="material-icons">chevron_left</i>
                  </a>
                </li>
                <li class="active blue lighten-2">
                  <a href="#!" class="white-text">1</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text">2</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text">3</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text">4</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text">5</a>
                </li>
                <li class="waves-effect">
                  <a href="#!" class="blue-text">
                    <i class="material-icons">chevron_right</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>